body{
    margin:0;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif
}

.sidebar{
    width:340px;
    height:100vh;
    margin-top:8px;
    margin-left:10px;
    background-color:black;
    border-radius:10px;
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:space-between;

}
.sidebar .side1{
    background-color:rgb(24, 24, 24);
    margin-bottom:10px;
    border-radius: 10px;
}
.sidebar .side1 ul{
    list-style:none;
    margin-top:20px;
}
.sidebar .side1 ul li{
    padding:10px 0px;
}

.sidebar .side1 ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
}
.sidebar .side1 ul li i{
    color:white;
    margin-right:10px;
    font-size:20px;
} 
.sidebar .side2{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    height:580px;

}
.sidebar .side2 ul{
    list-style:none;
    margin-top:20px;
}
.sidebar .side2 ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:16px;
}
.sidebar .side2 ul li i{
    color:white;
    margin-right:10px;
    font-size:20px;
} 
.sidebar .side2 ul li .plus{
    margin-left:130px;
    font-size:30px;
    font-weight: lighter;
}
.sidebar .side2 .scroll {
    display: flex;
    flex-direction:column;
    border: 0px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
   gap:10px;
  

}
.sidebar .side2 .scroll:hover{
    overflow-y: scroll;
    
}
.sidebar .side2 .scroll .side2one, .side2two{
    background-color:black;
    color:white;
    padding:20px;
    border-radius: 15px;
    line-height:40px;
}
.sidebar .side2 .scroll .side2one .side2one1,.side2two .side2two1{
    font-weight:bold;
}
.sidebar .side2 .scroll .side2one button,.side2two button{
  border-radius: 15px; 
  font: size 15px ;
  padding:10px;
  font-weight: bold;
}

.sidebar .side2 .sidebarlink{
    display: flex;
   justify-content: space-between;
    margin-left: -20px;
    margin-top:20px;
}
.sidebar .side2 .sidebarlink li{
    display: inline-block;
    font-size: 12px;
    color: white;
    margin-right:10px;
    margin-bottom:15px;
}

.sidebar .side2 .sidebarlink li :last-child{
    display: block;
    color:blue;
    
}
.sidebarlastbutton{
    padding:10px;
    border-radius: 20px;
    background-color:black;
    color:white;
    margin-left: 30px;
    font-weight: bold;
    border-color: aliceblue;
    font-size: 12px;
    margin-top: 40px;
    width:90px;
}

.container{
    overflow-x:hidden;
    display:flex;
    margin-left:360px ;
    background-color: rgb(24, 24, 24);
    position:absolute;
    top:8px;
    width:1200px;
    height:800px;
    border-radius:10px;
    color:white;
}
.container header{
    background-color: rgb(41, 40, 40);
    height:50px;
    width:1150px;
    border-start-start-radius:10px;
   
   padding:10px;
   display:flex;
   justify-content: flex-end;


  
    
}
 .container header a{
    text-decoration: none;
    color:rgb(134, 138, 142);
    margin-right:30px;
    

    
   
}
.container header button{
    color:rgb(29, 28, 28);
    border-radius:20px;
    width:100px;
    height:50px;
    margin-right:30px;
    cursor:pointer;

}
.container main{
    height:100vh;
    position: absolute;
    top:0;
    display:block;
    justify-content: flex-start;
  
}

main .upper-section{
    display:flex;
    height:340px;
    margin-left:20px;
    margin-top:100px;
    justify-content:space-between;
}
main .upper-section .upperhead{
    font-weight: bold;
    font-size: 23px;
   position: absolute;;
    width:400px;
    margin-top:-25px;
    
}
.upper-section .card-container{
    width:180px;
    height:300px;
    border-radius:10px;
    background-color: black;
    padding:20px;
    margin-right:10px;
    margin-top:30px;

}


img{
     
    width:180px;
    height:200px;
}
.card-container .info2{
    color:rgb(139, 137, 137)
}
.card-container:hover{
    background-color:rgb(50, 54, 54);;;
}


main .lower-section{
    background-color:rgb(24, 24, 24);

  
   
    display:flex;
    margin-left: -20px;
}
main .lower-section ul{
    margin-right: 100px;
}
main .lower-section li{
    list-style: none;
    margin-bottom: 15px;
    color:rgb(148, 147, 147)
}
main .lower-section li:hover{
    color:white;
    text-decoration:underline;
}
main .lower-section li:first-child{
    font-weight: bold;
    color:white;
}
main .lower-section li:first-child:hover{
    text-decoration: none ;
}
main .lower-section .icons{
    margin-left:300px;
    font-size:20px;
    margin-top: 20px;
} 
.icons i{
    margin-left:10px;
}

.mainx{
    height:1300px;
    background-color:rgb(24, 24, 24);
}
.lg {
    color:rgb(200, 194, 194);
    margin-right: 800px;
    margin-top:15px;
    display: flex;
    
}
.lg i{
    margin-left:20px;
}
.footer{
    background-color:rgb(24, 24, 24);
    height:150px;


}
.footer hr{
    color:rgb(148, 147, 147);
    

}
.footer p{
    margin-top: 50px;
    margin-left: 20px;
    color:rgb(148, 147, 147)

}
